.bg-cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

.bg-dark {
  background-color: #1f1f1f !important;
}

.footer-deep {
  padding: 7em 0;
  color: rgb(249, 245, 245);
}
