//
// Custom styles
//

body {
  font-size: 1rem;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

// Styling the Hero area
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.reg-container {
  width: 50vw;
  // border-radius: 15px;
  background-color: #f0f0f0;
  padding: 4em;
  font-size: 1.4em;
}

.netlify-identity-menu {
  list-style-type: none;
}

.netlify-identity-menu li::before {
  content: "";
}
