  // Customised colour palette
$heading-text-colour: #8c0303; // Burnt red
$highlight-colour: #f5840c; // Bright orange
$body-bg: #f5f5f5; // Light grey
$body-text-colour: #0d0d0d; // Dark colour for text
$secondary-highlight: #f2cf66; //Secondary highlight colour
  
  .navbar {
    color: #333;
  }

  .navbar-brand {
    color:deeppink;
    font-size: 2rem;
  }

  .navbar-bright {
    background-color:lightpink;
  }

  .svg-logo {
    width: 3em;
    margin-right: 1em;
  }