// .product {
// }

// .product-container {
// }
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.row > * {
  padding: 0;
}

.product-main .flickity-viewport {
  max-height: 500px !important;
  touch-action: pan-y;
}

.carousel {
  background: #fafafa;
  margin-bottom: 40px;
  width: 500px;
  height: 100%;
}

.product-main .carousel-cell {
  width: 100%;
  max-height: 500px;
  margin-right: 10px;
  counter-increment: carousel-cell;
  //   background: #8c8;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  //   content: counter(carousel-cell);
  //   line-height: 200px;
  //   font-size: 80px;
  //   color: white;
}

.carousel-nav .carousel-cell {
  height: 100px;
  width: 100px;
  max-width: 113px;
}

.carousel-nav {
  background: none;
}

// .carousel-nav .carousel-cell:before {
//   font-size: 50px;
//   line-height: 80px;
// }

// .carousel-nav .carousel-cell.is-nav-selected {
//   background: #ed2;
// }

.carousel-nav .flickity-slider {
  left: 20px !important;
  transform: translateX(0%) !important;
}
