body{font-size:1rem}.bi{fill:currentColor}.b-example-divider{height:3rem;background-color:rgba(0,0,0,0.1);border:solid rgba(0,0,0,0.15);border-width:1px 0;box-shadow:inset 0 0.5em 1.5em rgba(0,0,0,0.1),inset 0 0.125em 0.5em rgba(0,0,0,0.15)}@media (min-width: 992px){.rounded-lg-3{border-radius:.3rem}}.reg-container{width:50vw;background-color:#f0f0f0;padding:4em;font-size:1.4em}.netlify-identity-menu{list-style-type:none}.netlify-identity-menu li::before{content:""}

/*# sourceMappingURL=index.css.map */